<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.qdc.plugins.baidu.location" version="2.0.0">
  <name>BaiduLocation</name>

  <js-module src="www/baidu_location.js" name="baidu_location">
    <clobbers target="baidu_location" />
  </js-module>

  <preference name="API_KEY" default="NT7NK9NrxaZi0GDSU6uBgW9GiqKrNV7i" />

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BaiduLocation">
        <param name="android-package" value="com.qdc.plugins.baidu.BaiduLocation" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">

      <!-- 这个权限用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
      <!-- 这个权限用于访问GPS定位-->
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
      <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
      <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
      <!-- 用于读取手机当前的状态-->
      <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
      <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
      <!-- 访问网络，网络定位需要上网-->
      <uses-permission android:name="android.permission.INTERNET" />
      <!-- SD卡读取权限，用户写入离线定位数据-->
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- 在application标签中声明service组件,每个app拥有自己单独的定位service -->
      <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />
      <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="$API_KEY" />
    </config-file>

    <source-file src="src/android/BaiduLocation.java" target-dir="src/com/qdc/plugins/baidu" />
    <source-file src="src/android/DemoApplication.java" target-dir="src/com/qdc/plugins/baidu" />
    <source-file src="src/android/MapActivity.java" target-dir="src/com/qdc/plugins/baidu" />

    <source-file src="libs/arm64-v8a/" target-dir="app/libs/" />
    <source-file src="libs/armeabi/" target-dir="app/libs/" />
    <source-file src="libs/armeabi-v7a/" target-dir="app/libs/" />
    <source-file src="libs/x86/" target-dir="app/libs/" />
    <source-file src="libs/x86_64/" target-dir="app/libs/" />
    <source-file src="libs/BaiduLBS_Android.jar" target-dir="app/libs/" />
    <source-file src="libs/IndoorscapeAlbumPlugin.jar" target-dir="app/libs/" />
    <source-file src="libs/SecurityEnvSDK-release-1.1.0.jar" target-dir="app/libs/" />
    <source-file src="libs/tbs_sdk_thirdapp_v3.1.0.1034_43100_sharewithdownload_obfs_20170301_182143.jar" target-dir="app/libs/" />
    <source-file src="libs/utdid4all-1.1.5.3_proguard.jar" target-dir="app/libs/" />

    <source-file src="res/menu/" target-dir="app/src/main/res/" />
    <source-file src="res/layout/" target-dir="app/src/main/res/" />
    <preference name="ANDROID_SUPPORT_V7_VERSION" default="28.+" />

    <framework src="com.android.support:appcompat-v7:$ANDROID_SUPPORT_V7_VERSION" />
    <framework src="baidu_location.gradle" custom="true" type="gradleReference" />

  </platform>
  <hook type="before_plugin_install" src="scripts/before_plugin_install.js" />
  <hook type="before_plugin_uninstall" src="scripts/before_plugin_uninstall.js" />

  
  <!-- ios
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BaiduPush">
                <param name="ios-package" value="BaiduPushPlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/BaiduPushPlugin.h" />
        <source-file src="src/ios/BaiduPushPlugin.m" /> -->

  <!-- Wechat Official
      <header-file src="libs/ios/BPush.h" />
      <source-file src="libs/ios/libBPush.a" framework="true" /> -->

  <!-- Other required frameworks
      <framework src="libz.dylib" />
      <framework src="Foundation.framework" />
      <framework src="CoreTelephony.framework" />
      <framework src="SystemConfiguration.framework" />

    </platform> -->
</plugin>